{% extends 'inc/base.html' %}
{% load static %}

{% block content %}

  {% include 'inc/question.html' %}
    
  {% for answer in answers %}
      {% include 'inc/one_answer.html' %}
  {% endfor %}  
  
  {% include 'inc/paginator.html' %}
  
  <div class="row mb-3 mt-3 border-top">
    <div class="col-md-12">
      <div class="form-group mt-3">
        <div class="col-lg-10">
          <textarea class="form-control" rows="8" id="textArea" placeholder="Enter your answer here"></textarea>
        </div>
      </div>
      <div class="mt-3 ml-3">
        <a href="#" class="btn btn-primary">Answer</a>
      </div>
    </div>
  </div>
{% endblock content %}
