{% extends 'inc/base.html' %}

{% load static %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}


{% block content %}
  <h3 class="pb-4 mb-4 border-bottom">
    Settings: <span id="name">{{ user.profile.nickname }}</span>
  </h3>
  <form class="form" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.non_field_errors }}
      <div class="row mb-3">
       <div class="col-md-4">{{ form.username.label_tag }}</div>
        <div class="col-md-5">
          <div class="fieldWrapper">
            {{ form.username|as_crispy_field }}
          </div>
       </div>
      </div>
      <div class="row mb-3">
       <div class="col-md-4">{{ form.email.label_tag }}</div>
        <div class="col-md-5">
          <div class="fieldWrapper">
            {{ form.email|as_crispy_field}}
          </div>
       </div>
      </div>
      <div class="row mb-3">
       <div class="col-md-4">{{ form.nickname.label_tag }}</div>
        <div class="col-md-5">
          <div class="fieldWrapper">
            {{ form.nickname|as_crispy_field}}
          </div>
       </div>
      </div>

      <div class="row mb-3">        
       <div class="col-md-4">Upload avatar</div>
         <div class="col-md-5">
            <img src="{{ user.profile.avatar.url}}" width="128" height="128" class="p-2">
            {{ form.avatar|as_crispy_field }}
         </div>
      </div>

      <div class="row mb-3">
       <div class="col-md-4"></div>
        <div class="col-md-3">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
       </div>
      </div>
  </form>




{% endblock content %}
        
      
      
    
