{% load static %}
<div class="media text-muted pt-3 border p-2 mb-2">
      <ol class="list-unstyled mb-0 mr-2" style="text-align: center">
        <li class="m-2"><img src="{{ question.author.avatar.url }}" class="rounded" width="128" height="128"></li>
        <li>
          <div class="def-number-input number-input safari_only">
            <button class="minus js-vote" data-action="dislike" data-qid="{{question.pk}}">-</button>
            <input class="quantity" id="{{question.pk}}" name="quantity" value="{{ question.rate }}" type="number" style="pointer-events: none; width: 50px; text-align: right;">
            <button class="plus js-vote" data-action="like" data-qid="{{question.pk}}">+</button>
          </div>
        </li>
      </ol>
      <div class="media-body pb-3 mb-0 small lh-125">
        <a href="{% url 'question' question.id %}" class="text-u" style="font-size: 20px">{{ question.title }}</a></br>
        <span >{{ question.text }}
        
        
        </span>
        <div class="row mb-3">
          <div class="col-md-3">
            <a href="{% url 'question' question.id %}" class="text-u">answers 
              ({{ nums|get_item:question.id }})</a></div>
           <div class="col-md-9">
           <span>Tags</span> 
           {% for each in question.tags.all %}
              <a href="{% url 'tag' each %}" class="text-u">{{ each }}</a>
            {% endfor %}
           </div>       
        </div>
      </div>
    </div>