{% load static %}

<div class="pagination">
    <ul class="pagination">
    {% if elems.has_previous %}
        <li><a href="?page=1">&laquo; first</a></li>
        <li><a href="?page={{ elems.previous_page_number }}">previous</a></li>
    {% endif %}

    <li>
        <a>Page {{ elems.number }} of {{ elems.paginator.num_pages }}</a>
    </li>

    {% if elems.has_next %}
        <li><a href="?page={{ elems.next_page_number }}">next</a></li>
        <li><a href="?page={{ elems.paginator.num_pages }}">last &raquo;</a></li>
    {% endif %}
</div>

