{% load static %}
<div class="p-4 mb-3 bg-light rounded">
    <h4>Popular tags</h4>
    <div class="popular-tags-flex-container">
      <a href="{% url 'tag' 'perl'%}"><span class="popular-tags-flex-item">perl</span></a><a href="{% url 'tag' 'neperl'%}"><span class="popular-tags-flex-item">neperl</span></a><a href="{% url 'tag' 'perl'%}"><span class="popular-tags-flex-item">perl</span></a><a href="{% url 'tag' 'perl'%}"><span class="popular-tags-flex-item">perl</span></a><a href="{% url 'tag' 'perl'%}"><span class="popular-tags-flex-item">perl</span></a><a href="{% url 'tag' 'perl'%}"><span class="popular-tags-flex-item">perl</span></a><a href="{% url 'tag' 'perl'%}"><span class="popular-tags-flex-item">perl</span></a><a href="{% url 'tag' 'perl'%}"><span class="popular-tags-flex-item">perl</span></a>
  </div>
</div>